
.create-list {
  font-size: 24px;
  margin-top: 10px;
  cursor: pointer;
}
.todos-list {
  margin-top: 20px;
}

.priority-form {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 750px) {
    justify-content: flex-start;;
  }
}

.seach-input {
  width: 400px;
}

.create-btn {
  margin: 30px 0;
}

.priority-radio {
  align-items: center;
}
.seach-form {
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}