<div class="container">
  <!-- <app-new-todo></app-new-todo> -->

  <button type="button" class="btn btn-primary create-btn" (click)="createNewTodo()">Create New Todo</button>

  <form class="d-flex ">
    <div class="form-group">
      <input class="form-control seach-input" name="search" type="text" placeholder="Search..." [(ngModel)]="search" />
    </div>

    <div class="container priority-form">

      <div class="form-check form-check-inline priority-radio">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label checkmark " for="inlineRadio1">Low</label>
      </div>
      <div class="form-check form-check-inline priority-radio">
        <input class="form-check-input " type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label checkmark" for="inlineRadio2">Medium</label>
      </div>
      <div class="form-check form-check-inline priority-radio">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label checkmark" for="inlineRadio3">Hight</label>
      </div>
      <div class="form-check form-check-inline priority-radio">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
        <label class="form-check-label checkmark" for="inlineRadio4">All</label>
      </div>

    </div>
  </form>

  <ul class="list-group list-group-flush todos-list">

    <app-todo-item *ngFor="let todo of todoList | filterTodo:search" [todo]=" todo" (isEdit)="editTodo($event)">
    </app-todo-item>

  </ul>

  <p *ngIf="!todoList" class="text-center">No Data.</p>

  <div *ngIf="todoList && !todoList.length" class="text-center">
    <p>Todo list is empty. Please create your first todo.</p>
  </div>


</div>


<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
