<li class="list-group-item todos-item">

  <header class="todo-header">
    <div class="d-flex todo-header-item">
      <i class="material-icons check-box" (click)="toggleTodo()">
        {{(todo.isDone) ? 'check_box' : 'check_box_outline_blank'}}
      </i>
      <h5 [class.is-done]="todo.isDone"> {{todo.title}}</h5>
      <span class="badge badge-pill">{{todo.priority}}</span>
    </div>
    <div class="todo-btn-group">
      <button class="btn btn-secondary" [disabled]="!todo.description" (click)="toggleDescription()" type="button">
        {{(isDescriptionShow) ? 'hide details' : 'show details'}}
      </button>
      <button (click)="editTodo()" class="btn btn-primary" type="button">Edit</button>

      <button (click)="delTodo(todo.id)" class="btn btn-danger" type="button">Delete</button>
    </div>
  </header>

  <div class="todo-description" *ngIf="isDescriptionShow">
    {{todo.description}}
  </div>

</li>
