<li class="list-group-item todos-item">

  <header class="todo-header">
    <div class="d-flex todo-header-item">
      <i class="material-icons check-box" (click)="toggleTodo()">
        {{(todo.isDone) ? 'check_box' : 'check_box_outline_blank'}}
      </i>
      <h5 [class.is-done]="todo.isDone"> {{todo.title}}</h5>
      <span class="badge badge-pill">{{todo.priority}}</span>
    </div>
    <div class="todo-btn-group">
      <button class="btn btn-secondary" [disabled]="!todo.description" (click)="toggleDescription()" type="button">
        {{(isDescriptionShow) ? 'Hide details' : 'Show details'}}
      </button>
      <button (click)="editTodo()" class="btn btn-primary" type="button">Edit</button>



      <button (click)="openModal(template)" class="btn btn-danger" type="button">Delete</button>
    </div>
  </header>

  <div class="todo-description" *ngIf="isDescriptionShow">
    {{todo.description}}
  </div>

</li>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Would you like to remove <b>{{todo.title}}</b> ?</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button (click)="delTodo(todo.id)" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
    <button (click)="modalRef.hide()" type="button" class="btn btn-secondary">No</button>
  </div>
</ng-template>
